// Styling for the services section
#services {
  .service-heading {
    margin: 15px 0;
    text-transform: none;
  }

  .img-icon-container {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    .img-icon {
      max-height: 100px;
      width: auto;
      position: relative;
    }
  }

  .service-go-button {
    margin-top: 16px;
    padding-right: 32px;

    i {
      margin-left: 8px;
    }

    i.animated {
      display: none;
    }

    &:hover {
      i {
        display: none;
      }

      i.animated {
        @include infinite;
        display: inherit;
      }
    }
  }
}