// Styling for the services section
#services {
  .service-heading {
    margin: 15px 0;
    text-transform: none;
  }

  .img-icon-container {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    .img-icon {
      max-height: 100px;
      width: auto;
      position: relative;
    }
  }
}