// Styling for the solution section
#solution {
  .solution {
    background-image: url('../../img/solution.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 768px;
  }

  .row-center {
    justify-content: center;
  }
}