// Styling for the solution section
#solution {
  .service-heading {
    margin: 15px 0;
    text-transform: none;
  }
  
  .row-center-space {
    justify-content: space-evenly;
  }

  .solution-image {
    max-width: 100%;
    margin-bottom: 24px;
  }

  .img-icon-container {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    .img-icon {
      max-height: 100px;
      width: auto;
      position: relative;
    }
  }
}